body#page-role-right {
    table {
        thead {
            tr.role-header {
                background-color: @bg-info;

                td, th {
                    background-color: @bg-info;
                }
            }
        }
    }
}
