body#sensorMonitPage {
    table {
        tbody {
            tr.lastRead {
                background-color: lighten(@brand-success, 20);
                transition: background-color 1s ease;
            }
        }
    }
}