//alert
.alert {
    margin: @u6 0;
    padding: @u7 @u9 @u7 @u7;
    position: relative;
    border: 1px solid transparent;
    border-radius: @u2;

    .btn-close {
        line-height: .5;
        font-size: @u8;
        font-weight: bold;
        position: absolute;
        top: 20px;
        right: 15px;
        background-color: inherit;
        padding: 0;
        color: @gray-light;
    }

    .btn-close:hover {
        color: @text-color;
    }

    h3 {
        margin: @u4 0;
    }

    p {
        margin: @u4 0;
    }
}

.alert-mixin(@bg-color) {
    color: darken(@bg-color, 65%);
    background-color: @bg-color;
    border-color: darken(@bg-color, 10%);
}

.alert-success {
    .alert-mixin(@bg-success);
}

.alert-info {
    .alert-mixin(@bg-info);
}

.alert-warning {
    .alert-mixin(@bg-warning);
}

.alert-danger {
    .alert-mixin(@bg-danger);
}

//callout
.callout {
    margin: @u6 0;
    padding: @u6;
    border: 1px solid darken(@bg-color, 10%);
    border-left-width: 8px;
    border-radius: @u1;

    h3 {
        margin: @u4 0;
    }

    p {
        margin: @u4 0;
    }
}

.callout-mixin(@color) {
    border-left-color: @color;
    h3 {color: darken(@color, 25%);}
}

.callout-default {
    .callout-mixin(@gray-lighter);
}

.callout-primary {
    .callout-mixin(@brand-primary);
}

.callout-success {
    .callout-mixin(@brand-success);
}

.callout-info {
    .callout-mixin(@brand-info);
}

.callout-warning {
    .callout-mixin(@brand-warning);
}

.callout-danger {
    .callout-mixin(@brand-danger);
}
