
button, .btn {
    display: inline-block;
    text-decoration: none;
    background-color: @bg-color;
    border-radius: @u1;
    padding: @u3 @u4;
    white-space: nowrap;
    transition: background-color 0.2s linear, border-color 0.2s linear;

    &.active {
        .box-shadow(1);
    }
}

.btn-mixin(@color, @background-color) {
    color: @color;
    background-color: @background-color;
    border: 1px solid darken(@background-color, 10%);
    &:hover, &:focus {
        .box-shadow(1);
        background-color: darken(@background-color, 10%);
        border: 1px solid darken(@background-color, 15%);
        color: @color;
    }
}

.btn-default {
    .btn-mixin(@text-color, @gray-lighter);
}

.btn-primary {
    .btn-mixin(@bg-color, @brand-primary);
}

.btn-info {
    .btn-mixin(@bg-color, @brand-info);
}

.btn-success {
    .btn-mixin(@bg-color, @brand-success);
}

.btn-warning {
    .btn-mixin(@bg-color, @brand-warning);
}

.btn-danger {
    .btn-mixin(@bg-color, @brand-danger);
}

//button group
.btn-group {
    margin-right: @u4;
    white-space: nowrap;

    button, .btn {
        margin-right: -@u4;
        border-radius: 0;
    }

    .btn:first-child {
        border-top-left-radius: @u1;
        border-bottom-left-radius: @u1;
    }

    .btn:last-child {
        border-top-right-radius: @u1;
        border-bottom-right-radius: @u1;
    }
}

.dropdown-menu {
    display: inline-block;
    position: relative;

    ul {
        position: absolute;
        top: 100%;
        left: 0px;
        z-index: 10;
        border: 1px solid darken(@bg-color, 10%);
        border-radius: @u1;
        .box-shadow(1);
        display: none;

        li {
            margin: 0;
            padding: @u4 @u4;
            background-color: @bg-color;

            a {
                display: block;
                white-space: nowrap;
                color: @text-color;
            }

            &:hover {
                background-color: darken(@bg-color, 5%);
            }

            &.divider {
                height: 1px;
                margin: @u4 0;
                padding: 0;
                overflow: hidden;
                background-color: darken(@bg-color, 10%);
            }
        }
    }

    &.right {
        float: right;
    }

    &.right ul {
        left: inherit; //inherit browser in default unu aliyor.
        right: 0;
    }
}

.btn-xs {font-size: @u4};
.btn-sm {font-size: @u5};
.btn-md {font-size: @u6};
.btn-lg {font-size: @u7};
.btn-xlg {font-size: @u9};

.cmd {
    margin: @u6 0;
    padding: 0;
    white-space: nowrap;
}

.cmd-table {
    width:1%;
    padding: 0 @u4;
    text-align: right;
}

.cmd-flex {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: auto;
}
