
form {
    display: block;
    margin-top: 0;

    .form-group {
        margin: @u6 0;
    }

    .form-control {
        display: block;
        padding: @u3;
        width: 100%;
        background-color: @bg-color;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: @u2;
        box-shadow: inset 0 1px 1px darken(@bg-color, 20%);
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    }

    button, input, select, textarea {
        font-family: inherit;
        font-size: @u6;
    }

    input {
        line-height: normal;
    }

    textarea:focus,
    input[type="text"]:focus,
    input[type="password"]:focus,
    input[type="datetime"]:focus,
    input[type="datetime-local"]:focus,
    input[type="date"]:focus,
    input[type="month"]:focus,
    input[type="time"]:focus,
    input[type="week"]:focus,
    input[type="number"]:focus,
    input[type="email"]:focus,
    input[type="url"]:focus,
    input[type="search"]:focus,
    input[type="tel"]:focus,
    input[type="color"]:focus,
    select:focus,
    .uneditable-input:focus {
        border-color: @brand-primary;
        box-shadow: 0 1px 1px lighten(@brand-primary, 35) inset;
        outline: 0 none;
    }

    select.tax-combo {
        font-family: monospace;
        font-size: (@u6 + @u7) / 2;
    }

    input[type="file"] {
        display: block;
        border: none;
        outline: none;
    }

    input[type="checkbox"], input[type="radio"] {
        vertical-align: middle;
        margin-right: @u4;
    }

    input[disabled], textarea[disabled] {
        cursor: not-allowed;
        background-color: @gray-lighter;
    }

    label {
        display: block;
        margin-bottom: @u1;
        font-weight: 700;

        &.required:after {
            content: " *";
            color: @brand-primary;
        }
    }

    .checkbox, .radio {
        position: relative;
        display: block;
        margin-top: @u4;
        margin-bottom: @u4;
    }

    .checkbox label, .radio label {
        padding: 0;
        margin-bottom: 0;
        cursor: pointer;
    }

    textarea {
        background-color: @bg-color;
        border: 1px solid;
        border-image-source: initial;
        border-image-slice: initial;
        border-image-width: initial;
        border-image-outset: initial;
        border-image-repeat: initial;
        resize: vertical;
        cursor: auto;
        padding: 2px;
        white-space: pre-wrap;
        word-wrap: break-word;
    }

    .help-block {
        display: block;
        margin-top: @u4;
        margin-bottom: @u4;
        color: lighten(@text-color, 40%);
    }

    img.captcha {
        margin-top: @u4;
    }
}

.form-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: auto;

    .form-group {
        flex-grow: 1;
        flex-shrink: 1;
        margin: 0;
        width: auto;
        margin-right: @u4;
        margin-bottom: @u4;
    }
}

.form-search, .form-inline {
    margin: 0;
    display: inline-block;

    .form-group {
        margin: 0 @u3 0 0;
        display: inline-block;
        white-space: nowrap;

        .form-control {
            display: inline-block;
        }
    }
}
