
// (<768px) (≥768px) (≥992px)	(≥1200px)

.row {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.col {
    padding: 0;
    width: 100%;
    flex-grow: 1;
    flex-shrink: 0;
}

.col-span {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 1px;
}

@grid_count: 12;

.setCol(@size, @num) when (@num > 0) {
	.setCol(@size, @num - 1);
	.@{size}@{num} {
        flex-basis: unit((100 / @grid_count) * @num, %);
	}
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: unit(@screen-xxs, px)) and (max-width: unit((@screen-xxs - 1), px)) {
	.setCol(xs, @grid_count);
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: unit(@screen-xs, px))  and (max-width: unit((@screen-sm - 1), px)) {
	.setCol(sm, @grid_count);
}

/* Small Devices, Tablets */
@media only screen and (min-width: unit(@screen-sm, px)) and (max-width: unit((@screen-md - 1), px)) {
	.setCol(md, @grid_count);
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: unit(@screen-md, px)) {
	.setCol(lg, @grid_count);
}
