header {
    padding: @u6 @u4;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    background-color: @header-bg-color;
    .box-shadow(2);

    .row-header {
        height: @u10;
        overflow: hidden;

        .form-search {
            padding-left: 0;
        }
    }

    .auto-height {
        height: auto;
    }

    .col-left,
    .col-middle,
    .col-right {
        align-self: center;
        margin: @u4 0;
        padding: 0 @u4;
        flex-shrink: 0;
        flex-grow: 0;
        width: auto;
    }

    .site-title {
        width: @side-menu-width * 1.3;

        h1 {
            margin: 0;
            font-size: @u8;
            color: @side-menu-color;

            span {
                color: #df4308;
            }
        }
    }

    .top-menu {
        padding: 0;
        display: inline-block;
        color: @gray-light;
        white-space: nowrap;

        i.fa {
            padding-right: @u4;
        }

        a {
            padding: 0 @u4 0 @u4;
            display: inline-block;
            color: @gray-light;

            &:hover,
            &.active {
                color: @bg-color;
            }

            &:first-child {
                padding-left: 0;
            }

            &:last-child {
                padding-right: 0;
            }
        }
    }

    .form-search {
        padding-left: 20px;
        display: inline-block;
        white-space: nowrap;

        .form-group {
            margin: 0
        }

        ;

        input {
            padding: @u3;
            margin-right: @u4;
            display: inline-block;
            width: 200px;
            background-color: @bg-color;
            background-image: none;
            border: 1px solid #ccc;
            border-radius: @u1;
            box-shadow: inset 0 0 1px @gray;
        }
    }
}

.top-menu-button {
    color: @text-color;
    border-left: 2px solid darken(@side-menu-color, 20%);
    border-bottom: 2px solid darken(@side-menu-color, 20%);
    background-color: @side-menu-color;
    font-size: @u8;
    position: absolute;
    top: 100%;
    padding: @u1 @u4;
    display: none;
    right: 0;
    z-index: 100;
    .box-shadow(2);
}