
.label {
    display: inline;
    padding: @u3 @u7;
    line-height: 1;
    color: @gray-dark;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: @u1;
}

.label-default {
  background-color: @gray-lighter;
  border: 1px solid @gray-lighter;
}

.label-primary {
  background-color: @bg-primary;
  border: 1px solid @bg-primary;
}


.label-success {
  background-color: @bg-success;
  border: 1px solid @bg-success;
}

.label-info {
  background-color: @bg-info;
  border: 1px solid @bg-info;
}

.label-warning {
  background-color: @bg-warning;
  border: 1px solid @bg-warning;
}

.label-danger {
  background-color: @bg-danger;
  border: 1px solid @bg-danger;
}

.label-xs {font-size: @u4};
.label-sm {font-size: @u5};
.label-md {font-size: @u6};
.label-lg {font-size: @u7};
.label-xlg {font-size: @u8};
