.pagination {
    margin: @u8 0 0 0;
    border-radius: @u2;

    & > li:first-child > a {
        border-top-left-radius: @u2;
        border-bottom-left-radius: @u2;
    }

    & > li:last-child > a {
        border-top-right-radius: @u2;
        border-bottom-right-radius: @u2;
    }

    & > li > a {
        float: left;
        padding: @u4 @u6;
        margin-left: -1px;
        text-decoration: none;
        background-color: @bg-color;
        border: 1px solid darken(@bg-color, 10%);
    }

    & > li > a:focus,
    &> li > a:hover {
        color: @gray;
        background-color: @gray-lighter;
    }

    & > .disabled > a,
    & > .disabled > a:focus,
    & > .disabled > a:hover {
        color: @gray-light;
        cursor: not-allowed;
        background-color: @bg-color;
        border-color: darken(@bg-color, 10%);
    }

    & > .active > a,
    & > .active > a:focus,
    & > .active > a:hover {
        color: @bg-color;
        cursor: default;
        background-color: @brand-primary;
        border-color: @brand-primary;
    }
}
