.panel {
    margin: @u4 0;
    background-color: @bg-color;
    border: 1px solid transparent;
    border-top-left-radius: @u2;
    border-top-right-radius: @u2;
    width: 100%;
    display: table;

    .panel-image {
        background-color: #303e47;
        padding: 0;
        text-align: center;

        img {
            height: @u14;
        }
    }

    .panel-heading {
        padding: @u5;
        border-bottom: 1px solid transparent;
        border-top-left-radius: @u1;
        border-top-right-radius: @u1;

        .panel-title {
            font-size: @u6;
            font-weight: bold;
            letter-spacing: 1px;
            margin: 0;
        }
    }

    .panel-body {
        margin: @u6 0;
        padding: 0 @u6;

        h2,
        h3 {
            margin-top: 1em;
        }

        p {
            margin: @u6 0;
        }
    }

    .panel-footer {
        margin: @u6 0;
        padding: 0 @u6;
        background-color: @gray-lighter;
        border-bottom-right-radius: @u1;
        border-bottom-left-radius: @u1;
    }
}

.panel-mixin(@color) {
    border-color: darken(@color, 10%);

    &>.panel-heading {
        color: darken(@color, 65%);
        background-color: @color;
        border-color: darken(@color, 10%);
    }
}

.panel-default {
    .panel-mixin(@side-menu-color);
}

;

.panel-primary {
    .panel-mixin(@brand-primary);

    &>.panel-heading {
        color: @bg-color;
    }
}

;

.panel-success {
    .panel-mixin(@bg-success);
}

;

.panel-info {
    .panel-mixin(@bg-info);
}

;

.panel-warning {
    .panel-mixin(@bg-warning);
}

;

.panel-danger {
    .panel-mixin(@bg-danger);
}

;