.side-menu {
    padding: @u11 0;
    width: @side-menu-width;
    background-color: @side-menu-color;
    border-right: 2px solid darken(@side-menu-color, 20%);
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    overflow-x: none;
    z-index: 10;
    overflow: auto;
    transition: left 0.2s;
    .box-shadow(2);
    display: none;

    a {
        display: block;
        padding: @u5 0 @u5 @u5;
        color: @text-color;

        i.fas {
            padding-right: @u8 * 1.2;
        }

        i.fa-bars {
            font-size: @u7 * 1.2;
        }
    }

    nav>ul {

        li {
            .sub-menu {
                display: block;
            }

            a {
                padding-left: 2 * @u5;
            }

            &>a:hover {
                background-color: darken(@side-menu-color, 3%);
                border-left: @u5 solid @brand-warning;
                padding-left: @u5;
            }

            &.active>a {
                background-color: darken(@side-menu-color, 3%);
                border-left: @u5 solid @brand-danger;
                padding-left: @u5;
            }

            ul {
                display: none;

                &.sub-menu-show {
                    display: block;
                }

                li {
                    background-color: darken(@side-menu-color, 7%);

                    a {
                        padding-left: 3 * @u5;
                    }

                    &.active>a {
                        background-color: darken(@side-menu-color, 7%);
                        border-left: @u5 solid @brand-danger;
                        padding-left: 2 * @u5;
                    }

                    &>a:hover {
                        background-color: darken(@side-menu-color, 11%);
                        border-left: @u5 solid @brand-warning;
                        padding-left: 2 * @u5;
                    }

                    ul {
                        li {
                            background-color: darken(@side-menu-color, 11%);

                            a {
                                padding-left: 4 * @u5;
                            }

                            &.active a {
                                background-color: darken(@side-menu-color, 11%);
                                border-left: @u5 solid @brand-danger;
                                padding-left: 3 * @u5;
                            }

                            &>a:hover {
                                background-color: darken(@side-menu-color, 15%);
                                border-left: @u5 solid @brand-warning;
                                padding-left: 3 * @u5;
                            }
                        }
                    }
                }
            }
        }
    }

    .logo {
        margin: @u10 0;
        padding: 0 @u8;

        a {
            padding: 0;
        }

        img {
            height: @u12;
        }
    }

    .user-info {
        margin: @u9 0 0 @u4;
        padding: 0 @u6;

        a {
            padding: 0;
        }
    }

    .res-count {
        margin: @u4 0 0 @u4;
        padding: 0 @u6;
        font-family: monospace;
    }
}

.side-menu-button {
    color: @text-color;
    border-right: 2px solid darken(@side-menu-color, 20%);
    border-bottom: 2px solid darken(@side-menu-color, 20%);
    background-color: @side-menu-color;
    font-size: @u8;
    position: absolute;
    top: 100%;
    padding: @u1 @u4;
    display: none;
    left: 0;
    z-index: 10;
    top: 100%;
    transition: left 0.2s;
    .box-shadow(2);
}

.sub-menu-button {
    padding: 0 @u4;
    font-size: @u4;
    float: right;
    color: lighten(@text-color, 15);
}

.sub-menu-button:hover {
    color: gray;
}

@media (max-width: unit((@screen-xs - 1), px)) {
    .side-menu {
        left: -@side-menu-width;
    }

    .side-menu-button {
        display: block;
    }

    .side-menu-show {
        left: 0;
    }

    main {
        padding-left: @u6;
    }

    .side-menu-button-move {
        left: @side-menu-width;
    }
}