* {
    margin: 0;
    box-sizing: border-box;
}

html {
    margin: 0;
    font-size: @u6;
    font-family: Helvetica, Helvetica, Arial, sans-serif;
}

body {
    margin: 0;
    color: @text-color;
    /*overflow: auto;*/
}

a {
    color: @link-color;
    text-decoration: none;

    &:hover {
        color: @link-hover-color;

        i.fa {
            color: @brand-warning;
        }
    }

    i.fa-2x {
        font-size: @u7;
        padding-right: @u4;
    }

    i.fa-oil-pumpjack {
        margin-left: -5px;
        margin-right: 7px;
        content: '';
        background: url('/asset/img/oil_pumpjack.svg');
        background-size: 100% 100%;
        width: 24px;
        height: 24px;
        display: inline-block;
    }
}

p {
    margin-bottom: 0;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

h1,
h2,
h3,
h4 {
    font-family: inherit;
    color: inherit;
}

h1 {
    font-size: @u8;
}

h2 {
    font-size: @u7;
}

h3 {
    font-size: @u6;
}

h4 {
    font-size: @u5;
}

button {
    border: none;
    outline: none;
}

main {
    padding: @u10 @u6 0 @side-menu-width + @u6;
    position: relative;
    display: none;
}

.clear:after {
    content: " ";
    display: table;
    clear: both;
}

.footer {
    margin-top: @u8;
    padding: 0;
    border-top: 2px solid @side-menu-color;
    color: @gray;
    font-size: @u6;

    p {
        font-size: @u5 * 1.2;
        padding-top: @u5;
    }
}

.find {
    background-color: @bg-danger;
}

.copy-link {
    cursor: pointer;
    color: lighten(@brand-primary, 20%);

    &:hover {
        color: @brand-primary;
    }
}

.copy-clipboard {
    position: absolute;
    top: -9999px;
    left: -9999px;

}

.hidden {
    display: none;
}

@import "./vars.less";
@import "./button.less";
@import "./label.less";
@import "./side_menu.less";
@import "./grid.less";
@import "./form.less";
@import "./alert.less";
@import "./panel.less";
@import "./header.less";
@import "./table.less";
@import "./pagination.less";

//pages
@import "./page/role_right.less";
@import "./page/login.less";
@import "./page/end.less";

//sensor_monit
@import "./page/sensor_monit.less";