table {
    margin: @u4 0;
    display: table;
    width: 100%;
    max-width: 100%;
    background-color: transparent;
    border-spacing: 0;
    border: 1px solid darken(@bg-color, 10%);;
    border-collapse: collapse;

    tr {
        display: table-row;
        td, th {
            padding: @u5;
            border-top: 1px solid darken(@bg-color, 10%);
            border-right: 1px solid darken(@bg-color, 10%);
            text-align: left;
            vertical-align: middle;

            &.fixed-middle {
                width: 20%;
                white-space: nowrap;
            }

            &.fixed-small {
                width: 10%;
                white-space: nowrap;
            }

            &.fixed-zero {
                width: 1%;
                white-space: nowrap;
            }

            &.right{
                text-align: right;
            }
        }
    }

    caption {
        padding: @u4;
        color: lighten(@text-color, 10%);
        text-align: left;
        font-weight: bold;
        color: @brand-primary;
    }

    thead {
        tr {
            border-bottom: 2px solid darken(@bg-color, 10%);

            th {
                background-color: @gray-lighter;
            }
        }
    }

    tbody {
        tr {
            th {
                background-color: @gray-lighter;
            }

            &:hover {
                background-color: darken(@bg-color, 4);
            }

            .selected {
                background-color: @bg-success;
            }
        }
    }
}
