//colors

@gray-darker: lighten(#000, 13.5%); // #222
@gray-dark: lighten(#000, 20%); // #333
@gray: lighten(#000, 33.5%); // #555
@gray-light: lighten(#000, 46.7%); // #777
@gray-lighter: lighten(#000, 99%); // #eee

@brand-primary: #337ab7;
@brand-success: #5cb85c;
@brand-info: #5bc0de;
@brand-warning: #f0ad4e;
@brand-danger: #d9534f;

@bg-primary: #B3E5FC;
@bg-success: #DFF0D8;
@bg-info: #D9EDF7;
@bg-warning: #FCF8E3;
@bg-danger: #F2DEDE;

@bg-color: white;
@text-color: #333333;

@link-color: @brand-primary;
@link-hover-color: darken(@link-color, 15%);

@header-bg-color: #1c2834;
@side-menu-color: @gray-lighter;
@side-menu-width: @u17 * 1.2;

//grid break points
@screen-xxs: 480px;
@screen-xs: 768;
@screen-sm: 992;
@screen-md: 1200;

//geometry

@v1: 0.7;
@v2: 1.3;

@u1: @u2 * @v1;
@u2: @u3 * @v1;
@u3: @u4 * @v1;
@u4: @u5 * @v1;
@u5: @u6 * @v1;
@u6: 1rem;
@u7: @u6 * @v2;
@u8: @u7 * @v2;
@u9: @u8 * @v2;
@u10: @u9 * @v2;
@u11: @u10 * @v2;
@u12: @u11 * @v2;
@u13: @u12 * @v2;
@u14: @u13 * @v2;
@u15: @u14 * @v2;
@u16: @u15 * @v2;
@u17: @u16 * @v2;
@u18: @u17 * @v2;
@u19: @u18 * @v2;
@u20: @u19 * @v2;

//mixings
.box-shadow(@level: 1) {
    & when (@level =1) {
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05), 0 2px 4px rgba(0, 0, 0, 0.24);
    }

    & when (@level =2) {
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05), 0 3px 6px rgba(0, 0, 0, 0.23);
    }
}