<!DOCTYPE html>
<html lang="{{.lang}}">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <link rel="icon" href="/asset/img/favicon.ico">

    <title>{{if .htmlTitle}}{{.htmlTitle}}{{end}}</title>

    {{.css | raw}}
</head>

{{if .pageId}}<body id="{{.pageId}}">{{else}}<body>{{end}}

	{{if .leftMenu}}{{.leftMenu | raw}}{{end}}

    <header>
		<div class="row row-header">
			<div class="col col-left">
				{{if .siteTitle}}
					{{.siteTitle | raw}}
				{{end}}
			</div>

			<div class="col col-span">
			</div>


			{{if .topMenu}}
				<div class="col col-middle">
					{{.topMenu | raw}}
				</div>
			{{end}}

			{{if .search}}
				<div class="col col-right">
					{{.search | raw}}
				</div>
			{{end}}
		</div>

        <div class="side-menu-button"><i class="fa fa-bars"></i>
        </div>
        <div class="top-menu-button"><i class="fa fa-bars"></i>
        </div>
    </header>

    <main>
		{{if .message}}{{.message | raw}}{{end}}
		{{if .midContent}}{{.midContent | raw}}	{{end}}
		{{if .footer}}{{.footer | raw}}	{{end}}
    </main>


    {{.js | raw}}
</body>

</html>
