<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <link rel="icon" href="/asset/img/favicon.ico">

    <title>{{if .htmlTitle}}{{.htmlTitle}}{{end}}</title>

    {{.css | raw}}
</head>

{{if .pageId}}<body id="{{.pageId}}">{{else}}<body>{{end}}

    <main>
		<div class="row">
			<div class="col lg4 md3 sm2"></div>
			<div class="col lg4 md6 sm8">
				{{if .message}}
					{{.message | raw}}
				{{end}}
				{{if .midContent}}
					{{.midContent | raw}}
				{{end}}
			</div>
			<div class="col lg4 md3 sm2"></div>
		</div>

		<div class="row">
			<div class="col lg4 md3 sm2"></div>
			<div class="col lg4 md6 sm8">
				{{if .footer}}
					{{.footer | raw}}
				{{end}}
			</div>
			<div class="col lg4 md3 sm2"></div>
		</div>
    </main>

    {{.js | raw}}
</body>

</html>
