* {
  margin: 0;
  box-sizing: border-box;
}
html {
  margin: 0;
  font-size: 1rem;
  font-family: Helvetica, Helvetica, Arial, sans-serif;
}
body {
  margin: 0;
  color: #333333;
  /*overflow: auto;*/
}
a {
  color: #337ab7;
  text-decoration: none;
}
a:hover {
  color: #22527b;
}
a:hover i.fa {
  color: #f0ad4e;
}
a i.fa-2x {
  font-size: 1.3rem;
  padding-right: 0.49rem;
}
a i.fa-oil-pumpjack {
  margin-left: -5px;
  margin-right: 7px;
  content: '';
  background: url('/asset/img/oil_pumpjack.svg');
  background-size: 100% 100%;
  width: 24px;
  height: 24px;
  display: inline-block;
}
p {
  margin-bottom: 0;
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
h1,
h2,
h3,
h4 {
  font-family: inherit;
  color: inherit;
}
h1 {
  font-size: 1.69rem;
}
h2 {
  font-size: 1.3rem;
}
h3 {
  font-size: 1rem;
}
h4 {
  font-size: 0.7rem;
}
button {
  border: none;
  outline: none;
}
main {
  padding: 2.8561rem 1rem 0 22.50592473rem;
  position: relative;
  display: none;
}
.clear:after {
  content: " ";
  display: table;
  clear: both;
}
.footer {
  margin-top: 1.69rem;
  padding: 0;
  border-top: 2px solid #fcfcfc;
  color: #555555;
  font-size: 1rem;
}
.footer p {
  font-size: 0.84rem;
  padding-top: 0.7rem;
}
.find {
  background-color: #F2DEDE;
}
.copy-link {
  cursor: pointer;
  color: #77acd9;
}
.copy-link:hover {
  color: #337ab7;
}
.copy-clipboard {
  position: absolute;
  top: -9999px;
  left: -9999px;
}
.hidden {
  display: none;
}
button,
.btn {
  display: inline-block;
  text-decoration: none;
  background-color: white;
  border-radius: 0.16807rem;
  padding: 0.343rem 0.49rem;
  white-space: nowrap;
  transition: background-color 0.2s linear, border-color 0.2s linear;
}
button.active,
.btn.active {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05), 0 2px 4px rgba(0, 0, 0, 0.24);
}
.btn-default {
  color: #333333;
  background-color: #fcfcfc;
  border: 1px solid #e3e3e3;
}
.btn-default:hover,
.btn-default:focus {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05), 0 2px 4px rgba(0, 0, 0, 0.24);
  background-color: #e3e3e3;
  border: 1px solid #d6d6d6;
  color: #333333;
}
.btn-primary {
  color: white;
  background-color: #337ab7;
  border: 1px solid #285f8f;
}
.btn-primary:hover,
.btn-primary:focus {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05), 0 2px 4px rgba(0, 0, 0, 0.24);
  background-color: #285f8f;
  border: 1px solid #22527b;
  color: white;
}
.btn-info {
  color: white;
  background-color: #5bc0de;
  border: 1px solid #31b0d5;
}
.btn-info:hover,
.btn-info:focus {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05), 0 2px 4px rgba(0, 0, 0, 0.24);
  background-color: #31b0d5;
  border: 1px solid #28a1c5;
  color: white;
}
.btn-success {
  color: white;
  background-color: #5cb85c;
  border: 1px solid #449d44;
}
.btn-success:hover,
.btn-success:focus {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05), 0 2px 4px rgba(0, 0, 0, 0.24);
  background-color: #449d44;
  border: 1px solid #3d8b3d;
  color: white;
}
.btn-warning {
  color: white;
  background-color: #f0ad4e;
  border: 1px solid #ec971f;
}
.btn-warning:hover,
.btn-warning:focus {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05), 0 2px 4px rgba(0, 0, 0, 0.24);
  background-color: #ec971f;
  border: 1px solid #df8a13;
  color: white;
}
.btn-danger {
  color: white;
  background-color: #d9534f;
  border: 1px solid #c9302c;
}
.btn-danger:hover,
.btn-danger:focus {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05), 0 2px 4px rgba(0, 0, 0, 0.24);
  background-color: #c9302c;
  border: 1px solid #b52b27;
  color: white;
}
.btn-group {
  margin-right: 0.49rem;
  white-space: nowrap;
}
.btn-group button,
.btn-group .btn {
  margin-right: -0.49rem;
  border-radius: 0;
}
.btn-group .btn:first-child {
  border-top-left-radius: 0.16807rem;
  border-bottom-left-radius: 0.16807rem;
}
.btn-group .btn:last-child {
  border-top-right-radius: 0.16807rem;
  border-bottom-right-radius: 0.16807rem;
}
.dropdown-menu {
  display: inline-block;
  position: relative;
}
.dropdown-menu ul {
  position: absolute;
  top: 100%;
  left: 0px;
  z-index: 10;
  border: 1px solid #e6e6e6;
  border-radius: 0.16807rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05), 0 2px 4px rgba(0, 0, 0, 0.24);
  display: none;
}
.dropdown-menu ul li {
  margin: 0;
  padding: 0.49rem 0.49rem;
  background-color: white;
}
.dropdown-menu ul li a {
  display: block;
  white-space: nowrap;
  color: #333333;
}
.dropdown-menu ul li:hover {
  background-color: #f2f2f2;
}
.dropdown-menu ul li.divider {
  height: 1px;
  margin: 0.49rem 0;
  padding: 0;
  overflow: hidden;
  background-color: #e6e6e6;
}
.dropdown-menu.right {
  float: right;
}
.dropdown-menu.right ul {
  left: inherit;
  right: 0;
}
.btn-xs {
  font-size: 0.49rem;
}
.btn-sm {
  font-size: 0.7rem;
}
.btn-md {
  font-size: 1rem;
}
.btn-lg {
  font-size: 1.3rem;
}
.btn-xlg {
  font-size: 2.197rem;
}
.cmd {
  margin: 1rem 0;
  padding: 0;
  white-space: nowrap;
}
.cmd-table {
  width: 1%;
  padding: 0 0.49rem;
  text-align: right;
}
.cmd-flex {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: auto;
}
.label {
  display: inline;
  padding: 0.343rem 1.3rem;
  line-height: 1;
  color: #333333;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.16807rem;
}
.label-default {
  background-color: #fcfcfc;
  border: 1px solid #fcfcfc;
}
.label-primary {
  background-color: #B3E5FC;
  border: 1px solid #B3E5FC;
}
.label-success {
  background-color: #DFF0D8;
  border: 1px solid #DFF0D8;
}
.label-info {
  background-color: #D9EDF7;
  border: 1px solid #D9EDF7;
}
.label-warning {
  background-color: #FCF8E3;
  border: 1px solid #FCF8E3;
}
.label-danger {
  background-color: #F2DEDE;
  border: 1px solid #F2DEDE;
}
.label-xs {
  font-size: 0.49rem;
}
.label-sm {
  font-size: 0.7rem;
}
.label-md {
  font-size: 1rem;
}
.label-lg {
  font-size: 1.3rem;
}
.label-xlg {
  font-size: 1.69rem;
}
.side-menu {
  padding: 3.71293rem 0;
  width: 21.50592473rem;
  background-color: #fcfcfc;
  border-right: 2px solid #c9c9c9;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  overflow-x: none;
  z-index: 10;
  overflow: auto;
  transition: left 0.2s;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05), 0 3px 6px rgba(0, 0, 0, 0.23);
  display: none;
}
.side-menu a {
  display: block;
  padding: 0.7rem 0 0.7rem 0.7rem;
  color: #333333;
}
.side-menu a i.fas {
  padding-right: 2.028rem;
}
.side-menu a i.fa-bars {
  font-size: 1.56rem;
}
.side-menu nav > ul li .sub-menu {
  display: block;
}
.side-menu nav > ul li a {
  padding-left: 1.4rem;
}
.side-menu nav > ul li > a:hover {
  background-color: #f5f5f5;
  border-left: 0.7rem solid #f0ad4e;
  padding-left: 0.7rem;
}
.side-menu nav > ul li.active > a {
  background-color: #f5f5f5;
  border-left: 0.7rem solid #d9534f;
  padding-left: 0.7rem;
}
.side-menu nav > ul li ul {
  display: none;
}
.side-menu nav > ul li ul.sub-menu-show {
  display: block;
}
.side-menu nav > ul li ul li {
  background-color: #ebebeb;
}
.side-menu nav > ul li ul li a {
  padding-left: 2.1rem;
}
.side-menu nav > ul li ul li.active > a {
  background-color: #ebebeb;
  border-left: 0.7rem solid #d9534f;
  padding-left: 1.4rem;
}
.side-menu nav > ul li ul li > a:hover {
  background-color: #e0e0e0;
  border-left: 0.7rem solid #f0ad4e;
  padding-left: 1.4rem;
}
.side-menu nav > ul li ul li ul li {
  background-color: #e0e0e0;
}
.side-menu nav > ul li ul li ul li a {
  padding-left: 2.8rem;
}
.side-menu nav > ul li ul li ul li.active a {
  background-color: #e0e0e0;
  border-left: 0.7rem solid #d9534f;
  padding-left: 2.1rem;
}
.side-menu nav > ul li ul li ul li > a:hover {
  background-color: #d6d6d6;
  border-left: 0.7rem solid #f0ad4e;
  padding-left: 2.1rem;
}
.side-menu .logo {
  margin: 2.8561rem 0;
  padding: 0 1.69rem;
}
.side-menu .logo a {
  padding: 0;
}
.side-menu .logo img {
  height: 4.826809rem;
}
.side-menu .user-info {
  margin: 2.197rem 0 0 0.49rem;
  padding: 0 1rem;
}
.side-menu .user-info a {
  padding: 0;
}
.side-menu .res-count {
  margin: 0.49rem 0 0 0.49rem;
  padding: 0 1rem;
  font-family: monospace;
}
.side-menu-button {
  color: #333333;
  border-right: 2px solid #c9c9c9;
  border-bottom: 2px solid #c9c9c9;
  background-color: #fcfcfc;
  font-size: 1.69rem;
  position: absolute;
  padding: 0.16807rem 0.49rem;
  display: none;
  left: 0;
  z-index: 10;
  top: 100%;
  transition: left 0.2s;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.sub-menu-button {
  padding: 0 0.49rem;
  font-size: 0.49rem;
  float: right;
  color: #595959;
}
.sub-menu-button:hover {
  color: gray;
}
@media (max-width: 767px) {
  .side-menu {
    left: -21.50592473rem;
  }
  .side-menu-button {
    display: block;
  }
  .side-menu-show {
    left: 0;
  }
  main {
    padding-left: 1rem;
  }
  .side-menu-button-move {
    left: 21.50592473rem;
  }
}
.row {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}
.col {
  padding: 0;
  width: 100%;
  flex-grow: 1;
  flex-shrink: 0;
}
.col-span {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 1px;
}
/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) and (max-width: 479px) {
  .xs1 {
    flex-basis: 8.33333333%;
  }
  .xs2 {
    flex-basis: 16.66666667%;
  }
  .xs3 {
    flex-basis: 25%;
  }
  .xs4 {
    flex-basis: 33.33333333%;
  }
  .xs5 {
    flex-basis: 41.66666667%;
  }
  .xs6 {
    flex-basis: 50%;
  }
  .xs7 {
    flex-basis: 58.33333333%;
  }
  .xs8 {
    flex-basis: 66.66666667%;
  }
  .xs9 {
    flex-basis: 75%;
  }
  .xs10 {
    flex-basis: 83.33333333%;
  }
  .xs11 {
    flex-basis: 91.66666667%;
  }
  .xs12 {
    flex-basis: 100%;
  }
}
/* Extra Small Devices, Phones */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .sm1 {
    flex-basis: 8.33333333%;
  }
  .sm2 {
    flex-basis: 16.66666667%;
  }
  .sm3 {
    flex-basis: 25%;
  }
  .sm4 {
    flex-basis: 33.33333333%;
  }
  .sm5 {
    flex-basis: 41.66666667%;
  }
  .sm6 {
    flex-basis: 50%;
  }
  .sm7 {
    flex-basis: 58.33333333%;
  }
  .sm8 {
    flex-basis: 66.66666667%;
  }
  .sm9 {
    flex-basis: 75%;
  }
  .sm10 {
    flex-basis: 83.33333333%;
  }
  .sm11 {
    flex-basis: 91.66666667%;
  }
  .sm12 {
    flex-basis: 100%;
  }
}
/* Small Devices, Tablets */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .md1 {
    flex-basis: 8.33333333%;
  }
  .md2 {
    flex-basis: 16.66666667%;
  }
  .md3 {
    flex-basis: 25%;
  }
  .md4 {
    flex-basis: 33.33333333%;
  }
  .md5 {
    flex-basis: 41.66666667%;
  }
  .md6 {
    flex-basis: 50%;
  }
  .md7 {
    flex-basis: 58.33333333%;
  }
  .md8 {
    flex-basis: 66.66666667%;
  }
  .md9 {
    flex-basis: 75%;
  }
  .md10 {
    flex-basis: 83.33333333%;
  }
  .md11 {
    flex-basis: 91.66666667%;
  }
  .md12 {
    flex-basis: 100%;
  }
}
/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  .lg1 {
    flex-basis: 8.33333333%;
  }
  .lg2 {
    flex-basis: 16.66666667%;
  }
  .lg3 {
    flex-basis: 25%;
  }
  .lg4 {
    flex-basis: 33.33333333%;
  }
  .lg5 {
    flex-basis: 41.66666667%;
  }
  .lg6 {
    flex-basis: 50%;
  }
  .lg7 {
    flex-basis: 58.33333333%;
  }
  .lg8 {
    flex-basis: 66.66666667%;
  }
  .lg9 {
    flex-basis: 75%;
  }
  .lg10 {
    flex-basis: 83.33333333%;
  }
  .lg11 {
    flex-basis: 91.66666667%;
  }
  .lg12 {
    flex-basis: 100%;
  }
}
form {
  display: block;
  margin-top: 0;
}
form .form-group {
  margin: 1rem 0;
}
form .form-control {
  display: block;
  padding: 0.343rem;
  width: 100%;
  background-color: white;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 0.2401rem;
  box-shadow: inset 0 1px 1px #cccccc;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
form button,
form input,
form select,
form textarea {
  font-family: inherit;
  font-size: 1rem;
}
form input {
  line-height: normal;
}
form textarea:focus,
form input[type="text"]:focus,
form input[type="password"]:focus,
form input[type="datetime"]:focus,
form input[type="datetime-local"]:focus,
form input[type="date"]:focus,
form input[type="month"]:focus,
form input[type="time"]:focus,
form input[type="week"]:focus,
form input[type="number"]:focus,
form input[type="email"]:focus,
form input[type="url"]:focus,
form input[type="search"]:focus,
form input[type="tel"]:focus,
form input[type="color"]:focus,
form select:focus,
form .uneditable-input:focus {
  border-color: #337ab7;
  box-shadow: 0 1px 1px #b3d0ea inset;
  outline: 0 none;
}
form select.tax-combo {
  font-family: monospace;
  font-size: 1.15rem;
}
form input[type="file"] {
  display: block;
  border: none;
  outline: none;
}
form input[type="checkbox"],
form input[type="radio"] {
  vertical-align: middle;
  margin-right: 0.49rem;
}
form input[disabled],
form textarea[disabled] {
  cursor: not-allowed;
  background-color: #fcfcfc;
}
form label {
  display: block;
  margin-bottom: 0.16807rem;
  font-weight: 700;
}
form label.required:after {
  content: " *";
  color: #337ab7;
}
form .checkbox,
form .radio {
  position: relative;
  display: block;
  margin-top: 0.49rem;
  margin-bottom: 0.49rem;
}
form .checkbox label,
form .radio label {
  padding: 0;
  margin-bottom: 0;
  cursor: pointer;
}
form textarea {
  background-color: white;
  border: 1px solid;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  resize: vertical;
  cursor: auto;
  padding: 2px;
  white-space: pre-wrap;
  word-wrap: break-word;
}
form .help-block {
  display: block;
  margin-top: 0.49rem;
  margin-bottom: 0.49rem;
  color: #999999;
}
form img.captcha {
  margin-top: 0.49rem;
}
.form-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: auto;
}
.form-flex .form-group {
  flex-grow: 1;
  flex-shrink: 1;
  margin: 0;
  width: auto;
  margin-right: 0.49rem;
  margin-bottom: 0.49rem;
}
.form-search,
.form-inline {
  margin: 0;
  display: inline-block;
}
.form-search .form-group,
.form-inline .form-group {
  margin: 0 0.343rem 0 0;
  display: inline-block;
  white-space: nowrap;
}
.form-search .form-group .form-control,
.form-inline .form-group .form-control {
  display: inline-block;
}
.alert {
  margin: 1rem 0;
  padding: 1.3rem 2.197rem 1.3rem 1.3rem;
  position: relative;
  border: 1px solid transparent;
  border-radius: 0.2401rem;
}
.alert .btn-close {
  line-height: 0.5;
  font-size: 1.69rem;
  font-weight: bold;
  position: absolute;
  top: 20px;
  right: 15px;
  background-color: inherit;
  padding: 0;
  color: #777777;
}
.alert .btn-close:hover {
  color: #333333;
}
.alert h3 {
  margin: 0.49rem 0;
}
.alert p {
  margin: 0.49rem 0;
}
.alert-success {
  color: #335a23;
  background-color: #DFF0D8;
  border-color: #c1e2b3;
}
.alert-info {
  color: #17516d;
  background-color: #D9EDF7;
  border-color: #afd9ee;
}
.alert-warning {
  color: #85720e;
  background-color: #FCF8E3;
  border-color: #f7ecb5;
}
.alert-danger {
  color: #5f2525;
  background-color: #F2DEDE;
  border-color: #e4b9b9;
}
.callout {
  margin: 1rem 0;
  padding: 1rem;
  border: 1px solid #e6e6e6;
  border-left-width: 8px;
  border-radius: 0.16807rem;
}
.callout h3 {
  margin: 0.49rem 0;
}
.callout p {
  margin: 0.49rem 0;
}
.callout-default {
  border-left-color: #fcfcfc;
}
.callout-default h3 {
  color: #bdbdbd;
}
.callout-primary {
  border-left-color: #337ab7;
}
.callout-primary h3 {
  color: #173853;
}
.callout-success {
  border-left-color: #5cb85c;
}
.callout-success h3 {
  color: #2d672d;
}
.callout-info {
  border-left-color: #5bc0de;
}
.callout-info h3 {
  color: #1f7e9a;
}
.callout-warning {
  border-left-color: #f0ad4e;
}
.callout-warning h3 {
  color: #b06d0f;
}
.callout-danger {
  border-left-color: #d9534f;
}
.callout-danger h3 {
  color: #8b211e;
}
.panel {
  margin: 0.49rem 0;
  background-color: white;
  border: 1px solid transparent;
  border-top-left-radius: 0.2401rem;
  border-top-right-radius: 0.2401rem;
  width: 100%;
  display: table;
}
.panel .panel-image {
  background-color: #303e47;
  padding: 0;
  text-align: center;
}
.panel .panel-image img {
  height: 8.15730721rem;
}
.panel .panel-heading {
  padding: 0.7rem;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 0.16807rem;
  border-top-right-radius: 0.16807rem;
}
.panel .panel-heading .panel-title {
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 1px;
  margin: 0;
}
.panel .panel-body {
  margin: 1rem 0;
  padding: 0 1rem;
}
.panel .panel-body h2,
.panel .panel-body h3 {
  margin-top: 1em;
}
.panel .panel-body p {
  margin: 1rem 0;
}
.panel .panel-footer {
  margin: 1rem 0;
  padding: 0 1rem;
  background-color: #fcfcfc;
  border-bottom-right-radius: 0.16807rem;
  border-bottom-left-radius: 0.16807rem;
}
.panel-default {
  border-color: #e3e3e3;
}
.panel-default > .panel-heading {
  color: #575757;
  background-color: #fcfcfc;
  border-color: #e3e3e3;
}
.panel-primary {
  border-color: #285f8f;
}
.panel-primary > .panel-heading {
  color: #000000;
  background-color: #337ab7;
  border-color: #285f8f;
}
.panel-primary > .panel-heading {
  color: white;
}
.panel-success {
  border-color: #c1e2b3;
}
.panel-success > .panel-heading {
  color: #335a23;
  background-color: #DFF0D8;
  border-color: #c1e2b3;
}
.panel-info {
  border-color: #afd9ee;
}
.panel-info > .panel-heading {
  color: #17516d;
  background-color: #D9EDF7;
  border-color: #afd9ee;
}
.panel-warning {
  border-color: #f7ecb5;
}
.panel-warning > .panel-heading {
  color: #85720e;
  background-color: #FCF8E3;
  border-color: #f7ecb5;
}
.panel-danger {
  border-color: #e4b9b9;
}
.panel-danger > .panel-heading {
  color: #5f2525;
  background-color: #F2DEDE;
  border-color: #e4b9b9;
}
header {
  padding: 1rem 0.49rem;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #1c2834;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05), 0 3px 6px rgba(0, 0, 0, 0.23);
}
header .row-header {
  height: 2.8561rem;
  overflow: hidden;
}
header .row-header .form-search {
  padding-left: 0;
}
header .auto-height {
  height: auto;
}
header .col-left,
header .col-middle,
header .col-right {
  align-self: center;
  margin: 0.49rem 0;
  padding: 0 0.49rem;
  flex-shrink: 0;
  flex-grow: 0;
  width: auto;
}
header .site-title {
  width: 27.95770215rem;
}
header .site-title h1 {
  margin: 0;
  font-size: 1.69rem;
  color: #fcfcfc;
}
header .site-title h1 span {
  color: #df4308;
}
header .top-menu {
  padding: 0;
  display: inline-block;
  color: #777777;
  white-space: nowrap;
}
header .top-menu i.fa {
  padding-right: 0.49rem;
}
header .top-menu a {
  padding: 0 0.49rem 0 0.49rem;
  display: inline-block;
  color: #777777;
}
header .top-menu a:hover,
header .top-menu a.active {
  color: white;
}
header .top-menu a:first-child {
  padding-left: 0;
}
header .top-menu a:last-child {
  padding-right: 0;
}
header .form-search {
  padding-left: 20px;
  display: inline-block;
  white-space: nowrap;
}
header .form-search .form-group {
  margin: 0;
}
header .form-search input {
  padding: 0.343rem;
  margin-right: 0.49rem;
  display: inline-block;
  width: 200px;
  background-color: white;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 0.16807rem;
  box-shadow: inset 0 0 1px #555555;
}
.top-menu-button {
  color: #333333;
  border-left: 2px solid #c9c9c9;
  border-bottom: 2px solid #c9c9c9;
  background-color: #fcfcfc;
  font-size: 1.69rem;
  position: absolute;
  top: 100%;
  padding: 0.16807rem 0.49rem;
  display: none;
  right: 0;
  z-index: 100;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05), 0 3px 6px rgba(0, 0, 0, 0.23);
}
table {
  margin: 0.49rem 0;
  display: table;
  width: 100%;
  max-width: 100%;
  background-color: transparent;
  border-spacing: 0;
  border: 1px solid #e6e6e6;
  border-collapse: collapse;
}
table tr {
  display: table-row;
}
table tr td,
table tr th {
  padding: 0.7rem;
  border-top: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
  text-align: left;
  vertical-align: middle;
}
table tr td.fixed-middle,
table tr th.fixed-middle {
  width: 20%;
  white-space: nowrap;
}
table tr td.fixed-small,
table tr th.fixed-small {
  width: 10%;
  white-space: nowrap;
}
table tr td.fixed-zero,
table tr th.fixed-zero {
  width: 1%;
  white-space: nowrap;
}
table tr td.right,
table tr th.right {
  text-align: right;
}
table caption {
  padding: 0.49rem;
  color: #4d4d4d;
  text-align: left;
  font-weight: bold;
  color: #337ab7;
}
table thead tr {
  border-bottom: 2px solid #e6e6e6;
}
table thead tr th {
  background-color: #fcfcfc;
}
table tbody tr th {
  background-color: #fcfcfc;
}
table tbody tr:hover {
  background-color: #f5f5f5;
}
table tbody tr .selected {
  background-color: #DFF0D8;
}
.pagination {
  margin: 1.69rem 0 0 0;
  border-radius: 0.2401rem;
}
.pagination > li:first-child > a {
  border-top-left-radius: 0.2401rem;
  border-bottom-left-radius: 0.2401rem;
}
.pagination > li:last-child > a {
  border-top-right-radius: 0.2401rem;
  border-bottom-right-radius: 0.2401rem;
}
.pagination > li > a {
  float: left;
  padding: 0.49rem 1rem;
  margin-left: -1px;
  text-decoration: none;
  background-color: white;
  border: 1px solid #e6e6e6;
}
.pagination > li > a:focus,
.pagination > li > a:hover {
  color: #555555;
  background-color: #fcfcfc;
}
.pagination > .disabled > a,
.pagination > .disabled > a:focus,
.pagination > .disabled > a:hover {
  color: #777777;
  cursor: not-allowed;
  background-color: white;
  border-color: #e6e6e6;
}
.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover {
  color: white;
  cursor: default;
  background-color: #337ab7;
  border-color: #337ab7;
}
body#page-role-right table thead tr.role-header {
  background-color: #D9EDF7;
}
body#page-role-right table thead tr.role-header td,
body#page-role-right table thead tr.role-header th {
  background-color: #D9EDF7;
}
body#loginPage main {
  margin: 2.8561rem 0;
  padding: 0 0.49rem;
}
body#loginPage .panel-body {
  padding: 0.49rem 1.69rem;
}
body#end main {
  margin: 2.8561rem 0;
  padding: 0 0.49rem;
}
body#sensorMonitPage table tbody tr.lastRead {
  background-color: #a3d7a3;
  transition: background-color 1s ease;
}
